# <img style="float: left; padding-right: 30px; width: 225px" src="media/UC.png">  IMT2200 - Introducción a Ciencia de Datos
**Pontificia Universidad Católica de Chile**<br>
**Instituto de Ingeniería Matemática y Computacional**<br>
**Semestre 2023-2**<br>
**Profesor:** Rodrigo A. Carrasco <br>
__**Integrantes:**__ Christian Camilo | Ignacio Moya | Simon Poblete | Tomás Romero | Benjamín Ruiz

# <h1><center>AVES DE CHILE</center></h1>

## 1.- Contexto y Motivación🦾
El proyecto se enfoca en analizar avistamientos de aves con el objetivo de comprender cómo eventos como la pandemia y los incendios forestales de 2017 han afectado estos avistamientos. La motivación surge de la importancia de entender la interacción entre la vida silvestre y eventos ambientales extremos, así como su interaccion con seres humanos.

## 2.- Preguntas objetivo❓
- ¿La frecuencia de avistamientos de aves, o la cantidad de especies vario con los incendios y pandemia, respecto a otros años?
- Si es asi, ¿Qué especies de aves se ven más afectadas?
- ¿Existe algún(os) tipo(s) de ave(s) que en base a estas problemáticas pueden estar en peligro de extinción?

## 3.- Datos🗒️
Para llevar a cabo este proyecto, aprovecharemos la API proporcionada por [eBird](https://documenter.getpostman.com/view/664302/S1ENwy59#5a1e27e9-128f-4ab5-80ad-88cd6de10026). Utilizamos esta interfaz para obtener datos sobre avistamientos de aves en territorio chileno desde 2015 hasta 2022, incluyendo información sobre la taxonomía de las aves y las ubicaciones específicas donde se realizaron los avistamientos. Además, disponemos de un conjunto de datos que contiene información sobre los incendios registrados en nuestro país. También contamos con un archivo SHP que proporciona información geoespacial sobre las distintas regiones de Chile.

## 4.- Librerías y carga de DF📚

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

pd.options.display.max_columns = None

In [22]:
df15 = pd.read_csv("data/avistamientos/vis_2015.csv")
df16 = pd.read_csv("data/avistamientos/vis_2016.csv")
df17 = pd.read_csv("data/avistamientos/vis_2017.csv")
df18 = pd.read_csv("data/avistamientos/vis_2018.csv")
df19 = pd.read_csv("data/avistamientos/vis_2019.csv")
df20 = pd.read_csv("data/avistamientos/vis_2020.csv")
df21 = pd.read_csv("data/avistamientos/vis_2021.csv")
df22 = pd.read_csv("data/avistamientos/vis_2022.csv")

## 5.- Pandemia😷

La pandemia de Covid-19 ocurrió entre 2020 y 2021, donde la mayor parte del tiempo entre estos años, estuvimos confinados en nuestros hogares, por lo tanto analizaremos el comportamiento de las aves avistadas en estos años, contrastandolos con los años 2019 y 2022

In [23]:
df19.head()

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,locationPrivate,exoticCategory,region
0,speduc2,Spectacled Duck,Speculanas specularis,L8345908,Salto del Laja,2019-01-01 20:32,2.0,-37.214814,-72.370441,True,-1,Bío-Bío
1,whfibi,White-faced Ibis,Plegadis chihi,L791057,Estero El Culebrón--Desembocadura,2019-01-01 18:14,15.0,-29.961702,-71.321821,False,-1,Coquimbo
2,gyhsif1,Gray-hooded Sierra Finch,Phrygilus gayi,L802007,Valle de las Termas del Plomo,2019-01-01 15:20,1.0,-33.631487,-69.924889,False,-1,Región Metropolitana de Santiago
3,wrlrus1,Wren-like Rushbird,Phleocryptes melanops,L3071230,laguna cercana a el kark,2019-01-01 15:00,4.0,-51.279643,-72.656021,True,-1,Magallanes
4,mcrtyr1,Many-colored Rush Tyrant,Tachuris rubrigastra,L3071230,laguna cercana a el kark,2019-01-01 15:00,1.0,-51.279643,-72.656021,True,-1,Magallanes

In [24]:
df19.sort_values(by="howMany", ascending=False).head(10)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,locationPrivate,exoticCategory,region
356,sooshe,Sooty Shearwater,Ardenna grisea,L8576098,"(-44,777, -74,384)",2019-02-08 15:39,20000.0,-44.776836,-74.384086,True,-1,Aisén del General Carlos Ibáñez del Campo
1903,guacor1,Guanay Cormorant,Leucocarbo bougainvillii,L9883938,"CL (-20,298, -70,143)",2019-09-06 16:32,15000.0,-20.297630,-70.142652,True,-1,Tarapacá
2520,sooshe,Sooty Shearwater,Ardenna grisea,L10156891,"CL (-45,823, -74,921)",2019-11-08 15:53,10000.0,-45.823165,-74.920791,True,-1,Aisén del General Carlos Ibáñez del Campo
649,fragul,Franklin's Gull,Leucophaeus pipixcan,L668852,Río Lluta--Desembocadura,2019-03-17 18:48,6000.0,-18.416539,-70.322408,False,-1,Arica y Parinacota
3036,eleter1,Elegant Tern,Thalasseus elegans,L10385379,"31 dec. 2019 19:52\r\n-18,492, -70,329",2019-12-31 18:30,6000.0,-18.492109,-70.328532,True,-1,Arica y Parinacota
2252,guacor1,Guanay Cormorant,Leucocarbo bougainvillii,L796063,SN Campo dunar de Concón--Roca Oceánica,2019-10-16 12:30,5500.0,-32.941263,-71.554186,False,-1,Valparaíso
1133,slbpar1,Slender-billed Parakeet,Enicognathus leptorhynchus,L9296278,"U-99-V, Puerto Clocker, Región de los Lagos, C...",2019-05-18 16:14,5000.0,-41.006628,-72.673479,True,-1,Los Lagos
802,blnswa2,Black-necked Swan,Cygnus melancoryphus,L8972803,"(-39.686, -73.182)",2019-04-04 16:54,4700.0,-39.685692,-73.181934,True,-1,Los Ríos
513,perboo1,Peruvian Booby,Sula variegata,L602414,Acantilados de la Quirilluca,2019-02-28 10:59,4496.0,-32.687498,-71.449413,False,-1,Valparaíso
386,uplgoo1,Upland Goose,Chloephaga picta,L1033151,Laguna Los Palos,2019-02-13 18:10,3500.0,-52.735876,-71.061630,False,-1,Magallanes

In [25]:
df19.dtypes

speciesCode         object
comName             object
sciName             object
locId               object
locName             object
obsDt               object
howMany            float64
lat                float64
lng                float64
locationPrivate       bool
exoticCategory       int64
region              object
dtype: object

In [26]:
df19.groupby(by="comName").sum('howMany').reset_index().sort_values(by="howMany", ascending=False)

,comName,howMany,lat,lng,locationPrivate,exoticCategory
305,Sooty Shearwater,30900.0,-145.841363,-215.594767,3,-3
157,Guanay Cormorant,24007.0,-192.646573,-429.987735,1,-6
283,Sanderling,11540.0,-798.587163,-1716.283294,3,-24
297,Slender-billed Parakeet,10519.0,-506.630941,-943.740630,8,-13
228,Peruvian Booby,6934.0,-144.942511,-289.701008,0,-4
...,...,...,...,...,...,...
139,Gray-breasted Martin,1.0,-18.216103,-69.301457,0,-1
0,African Black Duck,1.0,-36.827802,-73.038011,0,1
341,Vermilion Flycatcher,0.0,-18.828150,-70.136249,1,-1
82,Chilean Mockingbird,0.0,-33.426346,-70.805287,1,-1
8,Andean Flicker,0.0,-18.193942,-69.262788,1,-1

## 6.- Incendios 🔥🌲

In [27]:
#code