In [6]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import os

In [11]:
with open("Proyecto1 - Manufactured.csv") as weapons_data:
    weapons_data = pd.read_csv(weapons_data)

weapons_data

,Year,Pistols,Revolvers,Total Handguns,Rifles,Shotguns,Total Long Guns,Misc. Firearms,Total Manufactured
0,1899-1945,NaN,NaN,"11,722,000","20,651,000","13,338,000","33,989,000",NaN,"45,711,000"
1,1946,NaN,NaN,176,729,621,"1,350,000",NaN,"1,526,000"
2,1947,NaN,NaN,257,953,860,"1,813,000",NaN,"2,070,000"
3,1948,NaN,NaN,427,"1,170,000","1,013,000","2,183,000",NaN,"2,610,000"
4,1949,NaN,NaN,256,862,"1,050,000","1,912,000",NaN,"2,168,000"
...,...,...,...,...,...,...,...,...,...
72,2017,"3,691,010","720,917","4,411,927","2,504,092","653,139","3,157,231","758,634","8,327,792"
73,2018,"3,881,158","664,835","4,545,993","2,880,536","536,126","3,416,662","1,089,973","9,052,628"
74,2019,"3,046,013","580,601","3,626,614","1,957,667","480,735","2,438,402","946,929","7,011,945"
75,2020,"5,509,183","993,078","6,502,261","2,760,392","476,682","3,237,074","1,324,743","11,064,078"
76,2021,"6,751,919","1,159,918","7,911,837","3,934,374","675,426","4,609,800","1,283,282","13,804,919"