Es necesario clonar el repositorio [pytrend](https://github.com/ItrendCL/pytrend) para ejecutar

In [874]:
import pandas as pd
from pytrend import pytrend
import json
import matplotlib.pyplot as plt
import numpy as np
import os

Cargamos cada uno de los archivos, guardandolos en sus DataFrames respectivos.

In [875]:
# Incendios forestales y da√±os, causas, ocurrencia
df_ocurrencia_incendios = pd.read_csv("ocurrencia_incendios_region.csv")
df_causas_incendios = pd.read_csv("causas_incendios.csv")
df_danos_superficie = pd.read_csv("danos_superficie (ha).csv")
df_incendios = pd.read_csv("incendios_filtrados.csv")

df_danos_comuna_2014_2015 = pd.read_csv("dano_hectareas_comunas (2014 - 2015).csv")
df_danos_comuna_2015_2016 = pd.read_csv("dano_hectareas_comunas (2015 - 2016).csv")
df_danos_comuna_2016_2017 = pd.read_csv("dano_hectareas_comunas (2016 - 2017).csv")
df_danos_comuna_2017_2018 = pd.read_csv("dano_hectareas_comunas (2017 - 2018).csv")
df_danos_comuna_2018_2019 = pd.read_csv("dano_hectareas_comunas (2018 - 2019).csv")
df_danos_comuna_2019_2020 = pd.read_csv("dano_hectareas_comunas (2019 - 2020).csv")
df_danos_comuna_2020_2021 = pd.read_csv("dano_hectareas_comunas (2020 - 2021).csv")
df_danos_comuna_2021_2022 = pd.read_csv("dano_hectareas_comunas (2021 - 2022).csv")
df_danos_mes_2014_2015 = pd.read_csv("dano_hectareas_mes (2014 - 2015).csv")
df_danos_mes_2015_2016 = pd.read_csv("dano_hectareas_mes (2015 - 2016).csv")
df_danos_mes_2016_2017 = pd.read_csv("dano_hectareas_mes (2016 - 2017).csv")
df_danos_mes_2017_2018 = pd.read_csv("dano_hectareas_mes (2017 - 2018).csv")
df_danos_mes_2018_2019 = pd.read_csv("dano_hectareas_mes (2018 - 2019).csv")
df_danos_mes_2019_2020 = pd.read_csv("dano_hectareas_mes (2019 - 2020).csv")
df_danos_mes_2020_2021 = pd.read_csv("dano_hectareas_mes (2020 - 2021).csv")
df_danos_mes_2021_2022 = pd.read_csv("dano_hectareas_mes (2021 - 2022).csv")

## Limpieza de Datos

##### DataFrame: Ocurrencia de incendios

In [876]:
# Dataframe: df_ocurrencia_incendios

# Reemplazamos los valores nulos por 0
df_ocurrencia_incendios = df_ocurrencia_incendios.fillna(0)
print(f"Hay {len(df_ocurrencia_incendios[df_ocurrencia_incendios.isna().any(axis=1)])} filas con valores nulos")

# Aproximamos todos los valores a enteros excepto la primera columna

for i in range(1, len(df_ocurrencia_incendios.columns)):
    df_ocurrencia_incendios[df_ocurrencia_incendios.columns[i]] = df_ocurrencia_incendios[df_ocurrencia_incendios.columns[i]].astype(int)

# Tomamos todas las columnas excepto la primera
data = df_ocurrencia_incendios[df_ocurrencia_incendios.columns[1:]]

# Sumamos todas las filas y las guardamos en una nueva columna llamada "TOTAL"
df_ocurrencia_incendios["TOTAL"] = data.sum(axis=1)

# Guardamos el dataframe en un archivo csv con el mismo nombre
df_ocurrencia_incendios.to_csv("data_limpio/ocurrencia_incendios_region_limpio.csv", index=False)

Hay 0 filas con valores nulos

##### DataFrame: Causas Incendios

In [877]:
df_causas_incendios = df_causas_incendios.fillna(0)
anhos = df_causas_incendios.columns[1:]

In [878]:
df_causas_incendios = df_causas_incendios.transpose()
df_causas_incendios

                  0              1          2             3
Grupo  ACCIDENTALES  INTENCIONALES  NATURALES  DESCONOCIDAS
2003           3820           1714          4          2034
2004           3070           1190         23          2147
2005           3192           1763         18          1680
2006           3258           1741          6           391
2007           3286           1463         14           380
2008           3996           2179         41           759
2009           3336           1966         15           840
2010           2293           1363          5           408
2011           3094           1623         12           223
2012           2833           2413         17           246
2013           3317           2050         13           271
2014           3706           2217         22           390
2015           4252           3273         58           465
2016           4067           2463         19           235
2017           3314           1689         16           255
2018           3801           1924         21           335
2019           4241           2499         56           423
2020           3792           3533         23           779
2021           3239           2976         56           830
2022           3098           3340         25           484

In [879]:
# Tomamos las primeras 3 filas y las hacemos el header
df_causas_incendios.columns = df_causas_incendios.iloc[0]
df_causas_incendios.columns.name = None
df_causas_incendios = df_causas_incendios.iloc[1:]

# A√±adimos una columna con los a√±os en la primera posici√≥n y eliminamos los √≠ndices

df_causas_incendios.insert(0, "A√ëO", anhos)
df_causas_incendios = df_causas_incendios.reset_index(drop=True)

# Reemplazamos los valores nulos por 0
df_causas_incendios = df_causas_incendios.fillna(0)

# Reemplazamos comas por puntos
df_causas_incendios = df_causas_incendios.replace(",", ".", regex=True)

df_causas_incendios.to_csv("data_limpio/causas_incendios_limpio.csv", index=False)

df_causas_incendios

     A√ëO  ACCIDENTALES  INTENCIONALES  NATURALES  DESCONOCIDAS
0   2003          3820           1714          4          2034
1   2004          3070           1190         23          2147
2   2005          3192           1763         18          1680
3   2006          3258           1741          6           391
4   2007          3286           1463         14           380
5   2008          3996           2179         41           759
6   2009          3336           1966         15           840
7   2010          2293           1363          5           408
8   2011          3094           1623         12           223
9   2012          2833           2413         17           246
10  2013          3317           2050         13           271
11  2014          3706           2217         22           390
12  2015          4252           3273         58           465
13  2016          4067           2463         19           235
14  2017          3314           1689         16           255
15  2018          3801           1924         21           335
16  2019          4241           2499         56           423
17  2020          3792           3533         23           779
18  2021          3239           2976         56           830
19  2022          3098           3340         25           484

##### DataFrame: Superficie afectada por incendios

In [880]:
# Dataframe: df_danos_superficie

# Reeemplazamos los valores nulos por 0
df_danos_superficie = df_danos_superficie.fillna(0)

# Reemplazamos comas por puntos
df_danos_superficie = df_danos_superficie.replace(",", ".", regex=True)

# Reemplazamos los valores con punto a float y los dem√°s a int  
for i in range(1, len(df_danos_superficie.columns)):
    df_danos_superficie[df_danos_superficie.columns[i]] = df_danos_superficie[df_danos_superficie.columns[i]].astype(float).round(2)

# Tomamos todas las columnas excepto la primera
data = df_danos_superficie[df_danos_superficie.columns[1:]]
df_danos_superficie["TOTAL"] = data.sum(axis=1)

# Guardamos el dataframe en un archivo csv con el mismo nombre
df_danos_superficie.to_csv("data_limpio/danos_superficie (ha)_limpio.csv", index=False)

##### DataFrame: Da√±os comuna por incendios 2014-2015

In [881]:
# Dataframe: df_danos_comuna_2014_2015

#### Pregunta inicial: ¬øQu√© sucedi√≥ con la cantidad de aves avistadas en Chile en el a√±o 2016 en adelante?