https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS&constraint=default_flag=1&constraint=disc_facility+like+%27%25TESS%25%27

http://exoplanet.eu/catalog/

In [34]:
import pandas as pd

In [35]:
df_1 = pd.read_csv('exo1.csv')
df_1.head(5)

,# name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
0,11 Com b,Confirmed,NaN,NaN,NaN,16.1284,1.53491,1.53491,NaN,NaN,...,G8 III,NaN,NaN,NaN,4742.0,100.0,100.0,NaN,NaN,NaN
1,11 Oph b,Confirmed,21.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,M9,0.011,0.002,0.002,2375.0,175.0,175.0,NaN,NaN,"Oph 1622-2405, Oph 11A"
2,11 UMi b,Confirmed,NaN,NaN,NaN,11.0873,1.10000,1.10000,NaN,NaN,...,K4III,1.560,0.540,0.540,4340.0,70.0,70.0,NaN,NaN,NaN
3,14 And b,Confirmed,NaN,NaN,NaN,4.6840,0.23000,0.23000,NaN,NaN,...,K0III,NaN,NaN,NaN,4813.0,20.0,20.0,NaN,NaN,NaN
4,14 Her b,Confirmed,NaN,NaN,NaN,NaN,4.95000,4.95000,NaN,NaN,...,K0 V,5.100,NaN,NaN,5311.0,87.0,87.0,NaN,NaN,NaN

In [36]:
df_1.columns

Index(['# name', 'planet_status', 'mass', 'mass_error_min', 'mass_error_max',
       'mass_sini', 'mass_sini_error_min', 'mass_sini_error_max', 'radius',
       'radius_error_min', 'radius_error_max', 'orbital_period',
       'orbital_period_error_min', 'orbital_period_error_max',
       'semi_major_axis', 'semi_major_axis_error_min',
       'semi_major_axis_error_max', 'eccentricity', 'eccentricity_error_min',
       'eccentricity_error_max', 'inclination', 'inclination_error_min',
       'inclination_error_max', 'angular_distance', 'discovered', 'updated',
       'omega', 'omega_error_min', 'omega_error_max', 'tperi',
       'tperi_error_min', 'tperi_error_max', 'tconj', 'tconj_error_min',
       'tconj_error_max', 'tzero_tr', 'tzero_tr_error_min',
       'tzero_tr_error_max', 'tzero_tr_sec', 'tzero_tr_sec_error_min',
       'tzero_tr_sec_error_max', 'lambda_angle', 'lambda_angle_error_min',
       'lambda_angle_error_max', 'impact_parameter',
       'impact_parameter_error_min', 'impact_parameter_error_max', 'tzero_vr',
       'tzero_vr_error_min', 'tzero_vr_error_max', 'k', 'k_error_min',
       'k_error_max', 'temp_calculated', 'temp_calculated_error_min',
       'temp_calculated_error_max', 'temp_measured', 'hot_point_lon',
       'geometric_albedo', 'geometric_albedo_error_min',
       'geometric_albedo_error_max', 'log_g', 'publication', 'detection_type',
       'mass_detection_type', 'radius_detection_type', 'alternate_names',
       'molecules', 'star_name', 'ra', 'dec', 'mag_v', 'mag_i', 'mag_j',
       'mag_h', 'mag_k', 'star_distance', 'star_distance_error_min',
       'star_distance_error_max', 'star_metallicity',
       'star_metallicity_error_min', 'star_metallicity_error_max', 'star_mass',
       'star_mass_error_min', 'star_mass_error_max', 'star_radius',
       'star_radius_error_min', 'star_radius_error_max', 'star_sp_type',
       'star_age', 'star_age_error_min', 'star_age_error_max', 'star_teff',
       'star_teff_error_min', 'star_teff_error_max', 'star_detected_disc',
       'star_magnetic_field', 'star_alternate_names'],
      dtype='object')

In [37]:
df_1.dropna(axis=1, inplace=True)
df_1.head(5)

,# name,planet_status,updated,publication,detection_type,ra,dec
0,11 Com b,Confirmed,2023-03-03,Published in a refereed paper,Radial Velocity,185.179167,17.792778
1,11 Oph b,Confirmed,2018-06-18,Published in a refereed paper,Imaging,245.604167,-24.087222
2,11 UMi b,Confirmed,2023-03-03,Published in a refereed paper,Radial Velocity,229.275000,71.823889
3,14 And b,Confirmed,2023-03-03,Published in a refereed paper,Radial Velocity,352.820833,39.236111
4,14 Her b,Confirmed,2023-05-22,Published in a refereed paper,Radial Velocity,242.595833,43.821667

In [38]:
df_1['detection_type'].unique()

array(['Radial Velocity', 'Imaging', 'Primary Transit', 'Astrometry',
       'Default', 'TTV', 'Microlensing', 'Timing'], dtype=object)

In [39]:
df_2 = pd.read_csv('exo2.csv', skiprows=range(0,99))
df_2.head(5)

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,AU Mic b,AU Mic,1,1,2,Transit,2020,Transiting Exoplanet Survey Satellite (TESS),Published Confirmed,0,...,-0.10,4.529,0.020,-0.020,7.84038,0.000731,-0.000731,2022-05-09,2021-12,2022-05-09
1,AU Mic c,AU Mic,1,1,2,Transit,2021,Transiting Exoplanet Survey Satellite (TESS),Published Confirmed,0,...,-0.10,4.529,0.020,-0.020,7.84038,0.000731,-0.000731,2022-05-09,2021-12,2022-05-09
2,DS Tuc A b,DS Tuc A,1,2,1,Transit,2019,Transiting Exoplanet Survey Satellite (TESS),Published Confirmed,0,...,-0.03,6.676,0.034,-0.034,8.31926,0.001025,-0.001025,2019-07-03,2019-07,2019-07-11
3,GJ 1252 b,GJ 1252,1,1,1,Transit,2020,Transiting Exoplanet Survey Satellite (TESS),Published Confirmed,0,...,-0.20,7.915,0.023,-0.023,11.23640,0.000806,-0.000806,2023-07-10,2022-09,2023-07-10
4,GJ 143 b,GJ 143,1,1,2,Transit,2019,Transiting Exoplanet Survey Satellite (TESS),Published Confirmed,0,...,-0.03,5.375,0.024,-0.024,7.67906,0.000260,-0.000260,2019-04-22,2019-04,2019-04-25