In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('data.csv', delimiter=';')
for column in df.columns:
    print(column)

IC - NGC
Name
Messier
NGC
IC
Object Type abrev.
Object type
ra
dec
Constellation
Major axis
Minor axis
Position angle
b_mag
v_mag
j_mag
h_mag
k_mag
Surface Brigthness
Hubble (only Galaxies)
Cstar U-Mag (only Planetary Nebulae)
Cstar B-Mag (only Planetary Nebulae)
Cstar V-Mag (only Planetary Nebulae)
Cstar Names (only Planetary Nebulae)
identifiers
common_names
ned_notes
openngc_notes
Image

In [17]:
df.drop(columns=['common_names'], inplace=True)
df

,IC - NGC,Name,Messier,NGC,IC,Object Type abrev.,Object type,ra,dec,Constellation,...,Surface Brigthness,Hubble (only Galaxies),Cstar U-Mag (only Planetary Nebulae),Cstar B-Mag (only Planetary Nebulae),Cstar V-Mag (only Planetary Nebulae),Cstar Names (only Planetary Nebulae),identifiers,ned_notes,openngc_notes,Image
0,NGC,NGC4154,NaN,NGC4149,NaN,Dup,Galaxy,12:10:32.84,+58:18:14.9,UMa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NGC,NGC4155,NaN,NaN,NaN,G,Galaxy,12:10:45.69,+19:02:27.0,Com,...,23.68,E,NaN,NaN,NaN,NaN,"2MASX J12104567+1902267,MCG +03-31-058,PGC 038...",NaN,NaN,NaN
2,NGC,NGC4156,NaN,NaN,NaN,G,Galaxy,12:10:49.61,+39:28:21.8,CVn,...,22.83,Sb,NaN,NaN,NaN,NaN,"2MASX J12104958+3928223,MCG +07-25-045,PGC 038...",NaN,NaN,NaN
3,NGC,NGC4157,NaN,NaN,NaN,G,Galaxy,12:11:04.37,+50:29:04.8,CVn,...,23.65,SABb,NaN,NaN,NaN,NaN,"2MASX J12110436+5029048,IRAS 12085+5045,MCG +0...",NaN,NaN,NaN
4,NGC,NGC4164,NaN,NaN,NaN,G,Galaxy,12:12:05.46,+13:12:20.3,Vir,...,23.50,E,NaN,NaN,NaN,NaN,"PGC 038877,SDSS J121205.45+131220.2,SDSS J1212...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8338,NGC,NGC7829,NaN,NaN,NaN,G,Galaxy,00:06:28.98,-13:25:14.2,Cet,...,24.82,S0-a,NaN,NaN,NaN,NaN,"2MASX J00062900-1325140,MCG -02-01-025 NED02,P...",NaN,NaN,NaN
8339,NGC,NGC7830,NaN,NaN,NaN,*,Star,00:06:01.86,+08:20:34.0,Psc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8340,NGC,NGC7833,NaN,NaN,NaN,Other,NaN,00:06:31.46,+27:38:22.8,Peg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Five Galactic stars.,NaN,NaN
8341,NGC,NGC7836,NaN,NaN,NaN,G,Galaxy,00:08:01.64,+33:04:14.8,And,...,22.80,E?,NaN,NaN,NaN,NaN,"2MASX J00080163+3304148,IRAS 00054+3247,PGC 00...",NaN,NaN,NaN
8342,NGC,NGC7837,NaN,NaN,NaN,G,Galaxy,00:06:51.39,+08:21:05.0,Psc,...,24.01,Sb,NaN,NaN,NaN,NaN,"2MASX J00065141+0821045,MCG +01-01-035,PGC 000516",NaN,NaN,NaN